form(action="", method="post")
    input(type="text", placeholder="User name", name="username")
    br
    input(type="password", placeholder="Password", name="password")
    br
    input(type="text", placeholder="gender", name="gender")
    br
    label(for="gender") agree:
    input(type="checkbox", name="agree", id="gender")
    button(type="submit") Save