p=`param: ${param}`
p=`cookies(currentTime): ${currentTime}`
p='query: '
    each q, i in query
        span= `${i}: ${q}, `
p='headers: '
    each header, i in headers
        span(style='padding-left: 58px')= `${i}: ${header} \n`
        br
