if users && users.length
    ul
        each user in users
            li: p= `User name: ${user.username}`
                p= `Gender: ${user.gender}`
                span= 'agree: '
                input(type="checkbox", checked=(user.agree))
else 
    p= 'no users'